/* Global View */

body{
    background-color: #EBEBEB;
}

.header-container{
    background-color: rgb(60, 60, 60);
    min-height: 100px;
    position: fixed;
    width: 100%;
}

header{
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Asap', sans-serif;
    color: white;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

.navbutton{
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid white;
    margin-left: 20px;
}


.container{
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 150px;
}

.col{
    width: 30%;
    margin-bottom: 30px;
    background-color: rgba(43, 225, 147);
}

.hide-desktop-only{
    display: none;
}


.col img{
    width: 100%;
    height: auto;
}

.col p{
    font-family: 'Asap', sans-serif;
    color: white;
    font-size: 0.875rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}


.col p::first-line{
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.mob-wrapper{
    display: none;
}


/* Tablet View */
@media (max-width: 768px){
   
    .col{
        width: 47%;
    }

    .hide-desktop-only{
        display: block;
    }

    .header-container{
        position: relative;
    }

    nav{
        display: none;
    }

    .mob-wrapper{
        display: block;
        padding-right: 30px;
    }

    .mob-nav{
        display: none;
        position: absolute;
        text-align: center;
        padding-top: 2px;
    }

    .burgermenu{
        width: 20px;
    }

    nav .navbutton{
        display: block;
        margin-left: 0;
    }

    .logo{
        padding: 40px 0;
    }


    .container{
        padding-top: 40px;
    }

    .burgerbutton{
        display: block;
        position: relative;
        background-color:rgba(43, 225, 147);
        padding: 15px 30px;
        margin-left: -109px;
    }

}

/* Mobile View  */
@media (max-width: 400px){

    .col{
        width: 100%;
    }

    .hide-mobile-only{
        display: none;  
    }

    

}

